In [ ]:
from cricpy.io.file_loader import load_yaml
from cricpy.parsers.cricsheet_parser import parse_match

match_data = load_yaml("/Users/aalapdesai/CricpyProject/682899.yaml")
df = parse_match(match_data)
df.head()

,inning,batting_team,ball,batsman,bowler,runs_total,runs_batter,runs_extras,extras_type,dismissal,fielder
0,1st innings,Nepal,0.1,SP Khakurel,Tanwir Afzal,3,3,0,None,None,None
1,1st innings,Nepal,0.2,Sagar Pun,Tanwir Afzal,0,0,0,None,None,None
2,1st innings,Nepal,0.3,Sagar Pun,Tanwir Afzal,1,1,0,None,None,None
3,1st innings,Nepal,0.4,SP Khakurel,Tanwir Afzal,0,0,0,None,None,None
4,1st innings,Nepal,0.5,SP Khakurel,Tanwir Afzal,4,4,0,None,None,None

array([None, 'wides', 'legbyes'], dtype=object)